<div id="<%= dom_id curso %>">
  <p>
    <strong>Titulo:</strong>
    <%= curso.titulo %>
  </p>

  <p>
    <strong>Horas:</strong>
    <%= curso.horas %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= curso.costo %>
  </p>

  <p>
    <strong>Temas:</strong>
    <%= curso.temas %>
  </p>

</div>
